<?xml version="1.0"?> 

<launch>
  <arg name="map_file" default="$(find world_sim)/map/maze.yaml"/>
  <arg name="remap_map" default="maze"/>
  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg map_file) map:=$(arg remap_map)">
  <param name="frame_id" value="odom" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz"/>
<!--
  <include file="$(find mobile_navigation)/launch/amcl.launch" />
-->
<include file="$(find turtlebot_description)/launch/test_gazebo.launch" />

</launch>
