<?xml version="1.0" ?>
<robot name="Plateforme">

  <material name="blue">
    <color rgba= "0 0 1 1"/>
  </material>
  <material name="grey">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>

  <link name="Plateforme__link">
    <inertial>
      <mass value="1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.145833" ixy="0" ixz="0" iyy="0.145833" iyz="0" izz="0.125"/>
    </inertial>
    <collision name="Plateforme__collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.5"/>
      </geometry>
    </collision>
    <visual name="Plateforme__ModelPreview_2__link__visual_1">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.5"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="Plateforme__link_0">
    <inertial>
      <mass value="1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.145833" ixy="0" ixz="0" iyy="0.145833" iyz="0" izz="0.125"/>
    </inertial>
    <collision name="Plateforme__collision">
      <origin rpy="0  0  0" xyz="0     0     0.025"/>
      <geometry>
        <cylinder length="0.01" radius="0.15"/>
      </geometry>
    </collision>
    <visual name="Plateforme__visual">
      <origin rpy="0  0  0" xyz="0     0     0.025"/>
      <geometry>
        <cylinder length="0.01" radius="0.15"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

    <joint name="platform_joint2" type="fixed">
      <origin xyz="0 0.0  0.001" rpy="0 0 0"/>
      <parent link="Plateforme__link"/>
      <child link="Plateforme__link_0"/>
    </joint>  

    <joint name="platform_joint" type="fixed">
      <origin xyz="0 0.0  0.025" rpy="0 0 0"/>
      <parent link="plate_top_link"/>
      <child link="Plateforme__link"/>
    </joint>

<gazebo reference="Plateforme__link">
  <material>Gazebo/Grey</material>
</gazebo>
<gazebo reference="Plateforme__link_0">
  <material>Gazebo/Blue</material>
</gazebo>

</robot>


